{{>partials/header title="Archive" body-class="archive-news"}}

<section class="oc-news-sub">
    <div class="container">
        <div class="oc-news-sub__cont row">
            <img src="./img/icono-noticias.svg" alt="" class="oc-news-sub__icon">
            <h1 class="oc-news-sub__title">Noticias<br> CONPORT</h1>
        </div>
    </div>
</section>

<section class="oc-news-content">
    <div class="oc-news-content__body">
        <img src="img/slider-home.jpg" alt="" class="oc-news-content__img-dest">
        <div class="oc-news-content__info">
            <span class="oc-news-content__date">02/05/2021</span>
            <span class="oc-news-content__cat">INTEGRIDAD</span>
            <h2 class="oc-news-content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing</h2>
            <p class="oc-news-content__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            <p class="oc-news-content__desc-02">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
            <p class="oc-news-content__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            <p class="oc-news-content__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            <div class="oc-news-content__cont-btn">
                <a href="#" class="oc-news-content__btn"><span>⟵</span>  Regresar a la sección</a>
            </div>
        </div>
    </div>
    <hr class="oc-news-content__line">
    <div class="oc-news-content__body">
        <img src="img/slider-home.jpg" alt="" class="oc-news-content__img-dest">
        <div class="oc-news-content__info">
            <span class="oc-news-content__date">02/05/2021</span>
            <span class="oc-news-content__cat">INTEGRIDAD</span>
            <h2 class="oc-news-content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing</h2>
            <p class="oc-news-content__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            <p class="oc-news-content__desc-02">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
            <p class="oc-news-content__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            <p class="oc-news-content__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            <div class="oc-news-content__cont-btn">
                <a href="#" class="oc-news-content__btn"><span>⟵</span>  Regresar a la sección</a>
            </div>
        </div>
    </div>
    <hr class="oc-news-content__line">
    <div class="oc-news-content__body">
        <img src="img/slider-home.jpg" alt="" class="oc-news-content__img-dest">
        <div class="oc-news-content__info">
            <span class="oc-news-content__date">02/05/2021</span>
            <span class="oc-news-content__cat">INTEGRIDAD</span>
            <h2 class="oc-news-content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing</h2>
            <p class="oc-news-content__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            <p class="oc-news-content__desc-02">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
            <p class="oc-news-content__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            <p class="oc-news-content__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            <div class="oc-news-content__cont-btn">
                <a href="#" class="oc-news-content__btn"><span>⟵</span>  Regresar a la sección</a>
            </div>
        </div>
    </div>
    <hr class="oc-news-content__line">
    <div class="oc-news-content__pag">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link oc-arrow" href="#"><span class="mr-2">⟵</span> Noticias recientes</a></li>
                <li class="page-item"><a class="page-link number" href="#">1</a></li>
                <li class="page-item"><a class="page-link number" href="#">2</a></li>
                <li class="page-item"><a class="page-link number" href="#">3</a></li>
                <li class="page-item"><a class="page-link number" href="#">4</a></li>
                <li class="page-item"><a class="page-link oc-arrow" href="#">Noticias anteriores <span class="ml-2">⟶</span></a></li>
            </ul>
        </nav>
    </div>
</section>

{{!-- Importando Footer --}}
{{>partials/footer image-footer="./img/pictograma_home_concha.svg"}}