{{>partials/header title="Integridad" body-class="integridad"}}

<section id="intro-hero-concesion" class="oc-intro-hero" style="background-image: url('img/in-imag_1.jpg');">
    <div class="container">
        <div class="oc-intro-hero__cont d-flex align-items-center oc-h-100">
            <h1 class="oc-intro-hero__title" data-aos="fade-right" data-aos-duration="3000">Integridad</h1>
        </div>
    </div>
</section>

<section class="container padding-section" id="introduccion">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 oc-padding-title" data-aos="fade-left" data-aos-duration="1000">
                <img src="img/icon_introduccion_integridad_conport.svg" alt="" class="oc-icon-section"
                    data-aos="zoom-in" data-aos-duration="2000">
                <h2 class="oc-subtitle oc-line-title line-yellow">Introducción</h2>
                <p class="oc-retos__desc">Desarrollamos nuestra actividad de manera eficiente, gestionando los riesgos y
                    amenazas mediante acciones preventivas, bajo los más altos estándares de ingeniería y mejores
                    prácticas
                    a nivel internacional, cumpliendo estrictamente las regulaciones y lineamientos establecidos.
                    <br><br>
                    Nuestra prioridad es la protección de la vida de las personas, el ambiente y los activos, y velamos
                    por
                    ello en cada detalle de nuestra operación. Con nuestro Programa de Integridad y Gestión de Activos,
                    garantizamos la identificación de las amenazas, su gestión y posterior reducción, con el propósito
                    de
                    mitigar la probabilidad de ocurrencia de fallas del sistema.
                </p>

            </div>

            <div class="col-12 col-md-6 my-md-4 my-lg-0 text-center position-relative mb-4">
                <div class="oc-box-yellow bg-primary position-absolute" data-aos="fade-down" data-aos-duration="3000">
                </div>
                <img src="img/imag_4_integridad_3_tecnologia_desktop.jpg" alt="" class="img-fluid m-auto oc-cover-img"
                    data-aos="fade-up" data-aos-duration="3000">
            </div>
        </div>
    </div>

</section>

<section class="padding-section oc-bg-gray" id="integridad-rol">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 my-md-4 my-lg-0 position-relative order-last order-lg-first">
                <div class="oc-box-yellow bg-primary position-absolute" data-aos="fade-down" data-aos-duration="3000">
                </div>
                <img src="img/imag_4_integridad_2_integridad_rol_desktop.jpg" alt="" class="img-fluid"
                    data-aos="fade-up" data-aos-duration="3000">
            </div>
            <div class="col-12 col-lg-6 mb-5 mb-lg-0 oc-padding-title order-first order-lg-last" data-aos="fade-left"
                data-aos-duration="1000">
                <img src="img/icon_integridad_rol_integridad_conport.svg" alt="" class="oc-icon-section"
                    data-aos="zoom-in" data-aos-duration="2000">
                <h2 class="oc-subtitle oc-line-title line-yellow">Integridad: su rol e importancia en la compañía</h2>
                <p class="oc-retos__desc">Álex Malagón Usgame, nuestro profesional senior de Integridad y Corrosión nos
                    responde 5 preguntas sobre Integridad, área a la que pertenece.
                </p>
                <div class="mt-4"></div>
                <iframe src="https://widget.spreaker.com/player?episode_id=43848576&theme=light&playlist=false&playlist-continuous=false&autoplay=false&live-autoplay=false&chapters-image=true&episode_image_position=right&hide-logo=false&hide-likes=false&hide-comments=false&hide-sharing=false&hide-download=true" width="100%" height="150px" frameborder="0"></iframe>
            </div>
        </div>

        {{!-- Geotubos --}}
        <div class="row my-5">
            <div class="col-12 col-lg-6 oc-padding-title" data-aos="fade-right" data-aos-duration="1000">
                <img src="/img/06-icon_ocenza_integridad_geotubo.svg" alt="" class="oc-icon-section"
                    data-aos="zoom-in" data-aos-duration="2000">
                <h2 class="oc-subtitle oc-line-title line-yellow">Instalación de Geotubos</h2>
            </div>
            <div class="col-12 mt-4">
                <iframe class="oc-video-yt" data-aos="fade-up" data-aos-duration="1000" src="https://www.youtube.com/embed/gRxK7sbxNOM?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section class="padding-section" id="herramienta-informa">
    <div class="container">
        <div class="row">
            <div class="col-12 oc-padding-title">
                <img src="img/icon_integridad_rol_integridad_conport.svg" alt="" class="oc-icon-section"
                    data-aos="zoom-in" data-aos-duration="2000">
                <h2 class="oc-subtitle oc-line-title line-yellow mb-4" data-aos="fade-right" data-aos-duration="1000">La
                    herramienta <br> que informa</h2>
                <div class="row">
                    <div class="col-12 col-lg-6" data-aos="fade-right" data-aos-duration="1000">
                        <p class="oc-retos__desc">El oleoducto está en el fondo del mar, en agua salada. En ciertos
                            puntos esa agua podría, eventualmente, entrar al recubrimiento de la tubería y ocasionar
                            pequeños focos de corrosión. La corrosión es un desgaste paulatino de los cuerpos metálicos
                            por acción de agentes externos. Eso genera bacterias diminutas que carcomen la estructura,
                            haciéndole huequitos de uno o dos centímetros de diámetro.</p>
                    </div>
                    <div class="col-12 col-lg-6" data-aos="fade-left" data-aos-duration="1000">
                        <p class="oc-retos__desc">Por lo anterior, y para realizar la inspección que hacemos cada 4
                            años, necesitábamos una tecnología más avanzada que la convencional o conocida hasta el
                            2016. En 2017 surgió una innovación, la tecnología MFL-A Ultra, capaz de detectar anomalías
                            muy pequeñas, de hasta un milímetro, y que a partir de los 5 milímetros las empieza a
                            cuantificar y a dimensionar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="video-informa" class="padding-section position-relative">
    <div class="container text-center">
        <iframe class="oc-video-yt" data-aos="fade-up" data-aos-duration="1000" src="https://www.youtube.com/embed/xfNKy3acXk4?rel=0"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</section>

<section class="padding-section" id="integridad-2">
    <div class="container">
        <div class="row mb-5 justify-content-end">
            <div class="col-12 col-md-6 position-relative my-md-5 my-lg-0 order-last order-lg-first">
                <div class="oc-box-yellow bg-primary position-absolute" data-aos="fade-down" data-aos-duration="3000">
                </div>
                <img src="img/in-imag_4.jpg" alt="" class="img-fluid" data-aos="fade-up" data-aos-duration="3000">
            </div>
            <div class="col-12 col-lg-6 oc-padding-title mt-md-4 mt-lg-0 order-first order-lg-last" data-aos="fade-left"
                data-aos-duration="1000">
                <p class="oc-retos__desc">Existía la tecnología, pero no una herramienta bidireccional que regresara al
                    punto de despacho (Terminal Marítimo de Coveñas, en tierra) y que se adaptara a las condiciones de
                    nuestro tubo submarino.
                    <br><br>
                    “Por eso fue necesario diseñar la herramienta y verificar que se sincronizara bien con la
                    tecnología, que tuviera la capacidad de ir hasta la TLU-2 y regresar al punto de despacho, que fuera
                    operativa y cubriera la dimensión de nuestra tubería; que hiciera buenas lecturas de abolladuras,
                    curvas, reducciones de diámetro, entre otras. Esas pruebas las hicimos en la casa fabricante, en
                    Alemania. Fue creada a la medida, no existía comercialmente”, explicó Álex Malagón Usgame, nuestro
                    profesional senior de Integridad y Corrosión.
                    <br><br>
                    La información que arroja la herramienta nos indica en qué momento debemos atender una amenaza;
                    entramos, limpiamos la zona de corrosión formada con bacterias, reparamos y mitigamos ese fenómeno
                    para que no crezca. Así nuestra compañía mantiene operativo el oleoducto para no tener problemas de
                    integridad”, afirmó Malagón.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="padding-section" id="herramienta-permite">
    <div class="container">
        <div class="oc-padding-title">
            <h2 class="oc-subtitle oc-line-title line-yellow mb-4" data-aos="fade-right" data-aos-duration="1000">La
                herramienta <br>nos permite</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="slick-oc__terminal px-4">
                    <div class="oc-item-slick">
                        {{!-- Box info --}}
                        <div class="col-12 p-0">
                            <div class="oc-info-box text-center">
                                <div class="oc-info-box__icon p-3">
                                    <img src="img/icon_herramienta_anomalias_integridad_conport.svg" alt="">
                                </div>

                                <div class="oc-info-box__text oc-box-yellow p-3">
                                    <p>Identificar anomalías muy pequeñas, de hasta 1 por 1.6 milímetros. Revela dónde
                                        están ubicadas y qué tan críticas son.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="oc-item-slick">
                        {{!-- Box info --}}
                        <div class="col-12 p-0">
                            <div class="oc-info-box text-center">
                                <div class="oc-info-box__icon p-3">
                                    <img src="img/icon_herramienta_intervenciones_integridad_conport.svg" alt="">
                                </div>

                                <div class="oc-info-box__text oc-box-gray p-3">
                                    <p>Con ese diagnóstico, priorizamos intervenciones. Expertos en ensayos no
                                        destructivos verifican cada anomalía (van físicamente a ver el tubo por todos
                                        sus lados, incluyendo la parte de abajo, mediante excavaciones). En los 4 años
                                        siguientes programamos las actividades.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="oc-item-slick">
                        {{!-- Box info --}}
                        <div class="col-12 p-0">
                            <div class="oc-info-box text-center">
                                <div class="oc-info-box__icon p-3">
                                    <img src="img/icon_herramienta_inspeccion_integridad_conport.svg" alt="">
                                </div>

                                <div class="oc-info-box__text p-3 oc-box-yellow">
                                    <p>La última inspección se hizo en 2018. Por ello, entre 2019 y 2021 hemos realizado
                                        trabajos. En 2022 medimos cómo se están comportando las reparaciones al sistema.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- Box info --}}
                    <div class="oc-item-slick">
                        <div class="col-12 p-0">
                            <div class="oc-info-box text-center">
                                <div class="oc-info-box__icon p-3">
                                    <img src="img/icon_herramienta_ciclos_integridad_conport.svg" alt="">
                                </div>

                                <div class="oc-info-box__text oc-box-yellow p-3">
                                    <p>Entre los ciclos de cada 4 años, programamos unos ciclos intermedios. Otros
                                        controles que nos indican cómo está el tubo. Son caminatas submarinas,
                                        protección catódica (técnica para controlar la corrosión en una superficie de
                                        metal).</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- Box info --}}
                    <div class="oc-item-slick">
                        <div class="col-12 p-0">
                            <div class="oc-info-box text-center">
                                <div class="oc-info-box__icon p-3">
                                    <img src="img/icon_herramienta_caminatas_integridad_conport.svg" alt="">
                                </div>

                                <div class="oc-info-box__text oc-box-gray p-3">
                                    <p>Las caminatas pueden revelar que, por ejemplo, las corrientes marinas socavaron
                                        el tubo y lo dejaron colgando; analizamos cómo se comportó la estructura ese
                                        tiempo y corregimos el problema. Eso se conoce como amenaza de clima y fuerzas
                                        externas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- Importando Footer --}}
{{>partials/footer image-footer="./img/pictograma_ocensa_conport_integridad.svg"}}