{{!-- Importando Header --}}
{{>partials/header title="Terminal marítimo de Coveñas" body-class="terminal-maritimo"}}

<section id="oc-mangueras" class="oc-intro-hero oc-intro-hero__bg-video position-relative oc-layer-opacity">
    <video src="video/mangueras-ocensa.mp4" class="oc-bg-video position-absolute" autoplay loop muted></video>
    <div class="container">
        <div class="oc-intro-hero__cont d-flex align-items-center oc-h-100 position-relative">
            <h1 class="oc-intro-hero__title" data-aos="fade-right" data-aos-duration="3000">Mangueras</h1>
        </div>
    </div>
</section>

<section id="mangueras-flexibles" class="padding-section">
    <div class="container">
        <div class="row">
            {{!-- Col izquierda --}}
            <div class="col-12 col-md-6 oc-padding-title" data-aos="fade-right" data-aos-duration="1000">
                <img src="img/icon_boyancia_mangueras_conport.svg" alt="" class="oc-icon-section" data-aos="zoom-in"
                    data-aos-duration="2000">
                <h2 class="mt-4 oc-subtitle line-yellow oc-line-title">Mangueras:<br> mucho más que tuberías flexibles
                </h2>
            </div>

            {{!-- Col derecha --}}
            <div class="col-12 col-md-6 oc-text-color-dark" data-aos="fade-left" data-aos-duration="1000">
                <p>La infraestructura cuenta con una instalación portuaria ubicada en el mar Caribe, a 12 kilómetros del
                    Terminal Marítimo de Coveñas se encuentra la Unidad de Carga de Tanqueros (TLU-2) o monoboya. Allí
                    es donde se hace la transferencia de crudo del oleoducto a los buquetanques. Ese punto, además,
                    sirve de anclaje para las embarcaciones que llegan de su navegación. Ver más: <br>

                    <br>La mitad de la monoboya es estática, permanece anclada a tierra, y la otra mitad, que se observa
                    sobre el mar, rota 360 grados, por lo que los buquetanques, ya amarrados, tienen libertad de
                    movimiento de acuerdo con las condiciones meteomarinas. Es una característica especial de este
                    Terminal.
                    <br>

                    <br>Para transferir el crudo del oleoducto submarino hasta los buquetanques, se necesitan tuberías
                    flexibles, o sea, mangueras, unas submarinas y otras flotantes.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="mangueras-2" class="padding-section position-relative">
    <div class="row text-md-right text-center">
        <div class="col-12 position-relative">
            <img src="img/imag_5_mangueras_1_mangueras_flexibles_mobile.jpg" alt="" data-aos="fade-down"
                data-aos-duration="3000" class="d-inline-block d-md-none text-center">
            <img src="img/imag_5_mangueras_1_mangueras_flexibles_desktop.jpg" alt="" data-aos="fade-down"
                data-aos-duration="3000" class="d-none d-md-inline-block">
        </div>
    </div>
</section>

<section class="padding-section" id="mangueras-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 oc-padding-title" data-aos="fade-right" data-aos-duration="2000">
                <img src="img/icon_fundamentales_mangueras_conport.svg" alt=""
                    class="oc-icon-section" data-aos="zoom-in" data-aos-duration="2000">
                <h2 class="mt-4 oc-subtitle line-yellow oc-line-title">Fundamentales<br> para la operación</h2>
                <ul class="oc-text-color-dark">
                    <li>La monoboya utiliza 99 mangueras: 6 submarinas y 93 flotantes.</li>
                    <li>Las mangueras van agrupadas en línea, y a la conexión de muchas mangueras en línea, que
                        conforman una tubería flexible o una cadena que llamamos string.</li>
                    <li>El string número uno de las flotantes tiene 30 mangueras, el dos, 32, y el tres, 33.</li>
                </ul>
                <ul class="oc-text-color-dark">
                    <li>En un punto de la superficie del mar, los string hacen una curvatura antes de elevarse hacia el francobordo del buquetanque.</li>
                    <li>El francobordo o borda libre “es la distancia medida verticalmente en el centro del buque, desde la intersección de la cara superior de la cubierta con la superficie exterior del forro hasta la línea de flotación”.</li>
                    <li>Acto seguido, se conectan al manifold, que en las embarcaciones petroleras es el colector o centro de válvulas desde donde se controla el flujo.</li>
                </ul>
                <a href="#" class="button-style-1 mr-2 style-more">
                    <span>Ver más</span>
                    <button href="#" class="oc-back-to-top__button">
                        <img src="img/plus_1.svg" alt="">
                    </button>
                </a>
            </div>
            <div class="col-12 col-md-6 position-relative mt-3 mt-md-0">
                <div class="slick-oc" data-slick='{"slidesToShow": 1, "dots": true, "arrows": false}' data-aos="fade-right" data-aos-duration="1000">
                    <div class="oc-item-slick">
                        <img src="img/imag_5_mangueras_2_fundamentales_desktop.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="oc-item-slick">
                        <img src="img/imag_5_mangueras_2_fundamentales_desktop.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="oc-item-slick">
                        <img src="img/imag_5_mangueras_2_fundamentales_desktop.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="oc-box bg-primary" data-aos="fade-left" data-aos-duration="1000"></div>
            </div>
        </div>
    </div>
</section>

<section id="mangueras-4" class="padding-section">
    <div class="container">
        <div class="row align-items-end">
            {{!-- Col izquierda --}}
            <div class="col-12 col-md-6 oc-padding-title" data-aos="fade-right" data-aos-duration="1000">
                <img src="img/icon_mantenimiento_mangueras_conport.svg"
                            alt="" class="oc-icon-section" data-aos="zoom-in" data-aos-duration="2000">
                <h2 class="mt-4 oc-subtitle line-yellow oc-line-title">Mantenerlas en<br> buen estado,<br> prioridad</h2>
            </div>
            {{!-- Col derecha --}}
            <div class="col-12 col-md-6 responsive-ajustes-1" data-aos="fade-left" data-aos-duration="1000">
                <p class="mb-0 oc-text-color-dark">El mantenimiento de las mangueras se hace cada 2 años. Tomamos un juego completo, lo desconectamos de la monoboya, lo remolcamos hasta tierra, lo analizamos de acuerdo con nuestro estándar de inspecciones y el Banco de Pruebas de Mangueras Submarinas. Verificamos la condición de cada una por separado. </p>
            </div>
        </div>
    </div>
</section>

<section class="padding-section" id="mangueras-info-slider" data-aos="fade-up" data-aos-duration="1500">
    <div class="container">
        <div class="slick-oc__mangueras px-3 px-md-0">
            <div class="oc-item-slick">
                {{!-- Box info --}}
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/icon_inspección_mangueras_conport.svg" alt="">
                        </div>

                        <div class="oc-info-box__text oc-box-yellow p-3">
                            <p>Un proceso de inspección, de los muchos que se hacen, consiste en practicarle a la manguera una prueba hidrostática. Se somete a presiones y se verifica qué tanto estiran y ensanchan.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="oc-item-slick">
                {{!-- Box info --}}
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/icon_manguera_servicio_mangueras_conport.svg" alt="">
                        </div>

                        <div class="oc-info-box__text oc-box-gray p-3">
                            <p>En la operación de mantenimiento se comprueba si la manguera puede seguir en servicio un tiempo más. Si no, se reemplaza por una nueva.</p>
                        </div>
                    </div>
                </div>
            </div>

                {{!-- Box info --}}
            <div class="oc-item-slick">
                {{!-- Box info --}}
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/icon_estandares_mangueras_conport.svg" alt="">
                        </div>

                        <div class="oc-info-box__text p-3 oc-box-yellow">
                            <p>Todos los fabricantes y contratistas con los que establecemos contratos de suministro de estos materiales cumplen con los estándares y las especificaciones técnicas mundiales para ello.</p>
                        </div>
                    </div>
                </div>
            </div>

                {{!-- Box info --}}
            <div class="oc-item-slick">
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/icon_boyancia_mangueras_conport.svg" alt="">
                        </div>

                        <div class="oc-info-box__text oc-box-yellow p-3">
                            <p>Recibe petróleo del segmento 3 del ducto que viene de las estaciones de Vasconia y
                                Caucasia. También recibe de ODC, de Caño Limón y del Oleoducto Bicentenario. Transfiere
                                crudo, o sea, lo pasa a los otros terminales.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{{!-- Importando Footer --}}
{{>partials/footer image-footer="img/pictograma_ocensa_inversionistas_accionistas_inversionistas.svg"}}